* {
	
}

body {
	font: 14px/22px Arial,"Hiragino Sans GB","微软雅黑","宋体";
	color:#555555;
	margin: 0px;
	padding: 0px;
	height: 100%;
}

a{
	color:#555555;
	text-decoration: none;
}


.nav {
	height: 63px;
	background: #FAFAFA;
}

.nav a.logo {
	width: 229px;
	height: 43px;
	display: block;
	background: #00B38A;
	margin-left: 200px;
	margin-top: 5px;
	float: left;
}

.nav ul {
	float: left;
	margin-top: 15px;
}

.nav ul li {
	float: left;
	list-style: none;
	font-size: 20px;
	padding: 0 20px;
}

.content {
	width: 1024px;
	margin: 35px auto 0;
	overflow: hidden;
	min-height: 1000px;
}


