<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 命名空间必须和对应接口的一样 -->
<mapper namespace="com.sin.lag.dao.IUserDao">
	<sql id="userColumns">
		chiness_name As chinessName ,phone,email,password,image
	</sql>

  <select id="findUser" parameterType="int" resultType="user">
    select id,<include refid="userColumns"/> from t_user  where 1=1
    <if test="email != null">
    	AND email=#{email}
    </if>
    <if test="password != null">
    	And password=#{password}
    </if>
  </select>
  
  
  <insert id="initUser" parameterType="user">
  	insert into t_user(email,password) values(#{email},#{password})
  </insert>
  
  
</mapper>